.preloader{
    height: 100vh;
    width: 100%;
    background: #111111;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader .texts-container{
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
    color: white;

}

#text1 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-style:normal;
}

#text2 {
    font-family: "Syncopate", sans-serif;
}

#text3 {
    font-family: "Bodoni Moda", sans-serif;
    font-style: italic;
    font-weight: 100;
}



